.section-banner{
  background: url(../images/Banner1.jpg);
  height: 100vh; 
  background-position:center;
  background-size: cover;
  width: auto;
  p{
    padding-top: 250px;
  }
}

.section-service{
  @include section;
  .service-items{
    img{
      width: 80px;
      height: 80px;
    }

    p{
      text-align: left;
      
    }
  }
}

.section-mustBuy{
  @include section;
  .mustBut-items{
    a{
      color: black;

    }
    a:hover{
      p{
        color:white;
        background-color: $primary;
      }
      
    }
  }
}

.section-category{
  background: url(../images/category-banner.png);
  background-position:center;
  background-size: cover;
  @include section;
  li:hover{
    &{
      opacity: 0.8;
    }
  }
}

.section-recommend{
  @include section;
  p{
    height: 48px;
  }
}