nav{
    .logo{
        height: 80px;
        width: 80px;
    }
    .navbar-collapse{
        flex-grow: 0;
    }
}
footer{
    .social-icon{
        height: 48px;
        width: 48px;
        
    }
    .footer-icon{
    font-size: 36px; 
    }
    @include media-breakpoint-up(lg) {
        .footer-info{
            font-size: 32px !important;
        }
    }
}
